<div class="section filter">
    <nav>
        <a ng-class="{ selected: sc.isActiveMenu('search')}" ng-click="sc.selectMenu('search')">Search</a>
        <a ng-class="{ selected: sc.isActiveMenu('filter')}" ng-click="sc.selectMenu('filter')">Filter</a>
    </nav>

    <div class="subsection" ng-repeat="(protocol, filter) in sc.filtersAvailable()" ng-show="sc.isActiveMenu('filter')">
        <h1 class="title">{{!filter.name }} ({{!filter.desc}})</h1>
        <ul class="filterbox">
            <li ng-repeat="regex in filter.selected" title="{{!filter.category[regex].desc}}">
                <img src="{{ static_url('img/x.svg') }}" ng-click="sc.rmProtocol(protocol, regex)"/>
                <span ng-show="filter.category[regex]">{{!filter.category[regex].name}}</span>
                <span ng-show="!filter.category[regex]">{{!regex}}</span>
            </li>
        </ul>
        <form ng-submit="sc.addProtocol(protocol)">
            <input type="text" ng-model="sc.adder[protocol]" placeholder="Add category" list="autoCompleted"
                   name="sipAdder"/>
            <datalist id="autoCompleted">
                <option ng-repeat="(regex, data) in filter.category" value="{{!data.name}}">{{!data.name}}
                </option>
            </datalist>
        </form>
    </div>

    <div ng-show="sc.isActiveMenu('search')">
        <h1>Time processing interval</h1>
        <section>
            <label for="tfilter">Duration until now</label>
            <select name="tfilter" id="tfilter" ng-model="sc.tfilter" ng-change="sc.tfilterSelect()" ng-options="opt as opt.label for opt in sc.timeFilterOptions">
            </select>
        </section>
        <p class="datetime-picker-group input-group" style="width:150px">
            <input type="text" class="form-control main" datetime-picker ng-model="sc.picker.date" is-open="sc.picker.open" button-bar="sc.picker.buttonBar" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="sc.openCalendar($event, 'picker')"></button>
            </span>
        </p>
    </div>
</div>