<div ng-controller="GraphController as gc" ng-init="load()">

    <div network-graph data="get_data('network')" width="getWidth()" height="getHeight('network')"
         selected-node="setNode(node)"></div>

    <nav ng-show="display('timeline')" class="timeline-nav">
        <a href="#">
            <img src="{{ static_url('img/refresh.svg') }}" style="height: 12px; padding: 4px 1px;" />
        </a>
        <a href="#" ng-click="showSetting()">
                <img src="{{ static_url('img/filter.svg') }}" style="height: 16px; padding: 2px;" />
        </a>
    </nav>


    <div timeline-graph display="display('timeline')" width="getWidth()" height="getHeight('timeline')" height-lane="20"
         selected-time="" selected-data="displayDataPacket(data)" filter="filter()"
         data="get_data('timeline').packets"></div>


    <section id="displayinfo" ng-controller="DisplayInfoController as dic" ng-show="dic.show()">
        <img src="{{ static_url('img/x.svg') }}" ng-click="dic.close()" ng-show="panel_fixed()" class="close"/>

        {% include "graph/display/node.html" %}
        {% include "graph/display/packet.html" %}

    </section>

    <div class="selectbox" id="gsetting" ng-controller="SettingController as sc" ng-show="sc.show()">
        <img src="{{ static_url('img/x.svg') }}" ng-click="showSetting()" class="close"/>

        {% include "graph/timeline/options.html" %}
    </div>
</div>