<div ng-show="gc.node()">
    <h1>Server</h1>
    <table>
        <tr>
            <td>Name</td>
            <td class='data' ng-show="!gc.node().link">{{!gc.node().name}}</td>
            <td class='data' ng-show="gc.node().link"><a href="{{!gc.node().link}}" target="_target">{{!gc.node().name}}</a></td>
        </tr>
        <tr>
            <td>Key</td>
            <td class='data'>{{!gc.node().serverkey}}</td>
        </tr>
        <tr>
            <td>Cluster</td>
            <td class='data'>{{!gc.node().cluster}}</td>
        </tr>
        <tr>
            <td colspan='2'>Own connectivity
                <table style='padding-left: 10px'>
                    <tr ng-repeat="c in gc.node().connectivity.own ">
                        <td>{{!c.name}}</td>
                        <td class='data'>{{!c.conn}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan='2'>Remote connection
                <table style='padding-left: 10px'>
                    <tr ng-repeat="c in gc.node().connectivity.remote ">
                        <td>{{!c.name}}</td>
                        <td class='data'>{{!c.conn}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>