<div ng-show="gc.node()">
    <h1>Server</h1>
    <table>
        <tr>
            <td>Name</td>
            <td class='data' ng-show="!gc.node().link">{{!gc.node().name}}</td>
            <td class='data' ng-show="gc.node().link"><a href="{{!gc.node().link}}" target="_target">{{!gc.node().name}}</a></td>
        </tr>
        <tr>
            <td>Key</td>
            <td class='data'>{{!gc.node().serverkey}}</td>
        </tr>
        <tr>
            <td>Cluster</td>
            <td class='data'>{{!gc.node().cluster}}</td>
        </tr>
        <tr>
            <td colspan='2'>Own connectivity
                <table style='padding-left: 10px'>
                    <tr ng-repeat="c in gc.node().connectivity.own ">
                        <td>{{!c.name}}</td>
                        <td class='data'>{{!c.conn}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan='2'>Remote connection
                <table style='padding-left: 10px; width:100%;'>
                    <tr ng-repeat="c in gc.node().connectivity.remote ">
                        <td>{{!c.name}}</td>
                        <td class='data'>{{!c.conn}}</td>
                        <td class="traffic">

                            <svg version="1.1"
                                 xmlns="http://www.w3.org/2000/svg"
                                 x="0px" y="0px" width="13.6px" height="11px" viewBox="0 0 13.6 11" enable-background="new 0 0 13.6 11" xml:space="preserve"
                                ng-class="c.monitored", ng-click="gc.connectMgt(gc.node().serverkey, c.conn, 'enable')">
                                <g>
                                    <rect x="0" y="0" width="13" height="11" fill="rgba(0,0,0,0)"></rect>
                                    <g class="in">
                                        <line fill="none" stroke="#d7d7d7" stroke-miterlimit="10" x1="2.3" y1="2.5" x2="9.3" y2="2.5"/>
                                        <g>
                                            <polygon fill="#d7d7d7" points="9.3,5 13.6,2.5 9.3,0"/>
                                        </g>
                                    </g>
                                    <g class="out">
                                        <line fill="none" stroke="#d7d7d7" stroke-miterlimit="10" x1="11.3" y1="8.5" x2="4.3" y2="8.5"/>
                                        <g>
                                            <polygon fill="#d7d7d7" points="4.3,6 0,8.5 4.3,11"/>
                                        </g>
                                    </g>
                                    <title>{{!c.monitored ? "Monitored "+c.monitored : "No monitoring"}}</title>
                                </g>

                            </svg>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>