<div ng-show="node">
    <h1>Server</h1>
    <table>
        <tr>
            <td>Name</td>
            <td class='data' ng-show="!node.link">{{!node.name}}</td>
            <td class='data' ng-show="node.link"><a href="{{!node.link}}" target="_target">{{!node.name}}</a></td>
        </tr>
        <tr>
            <td>Key</td>
            <td class='data'>{{!node.serverkey}}</td>
        </tr>
        <tr>
            <td>Cluster</td>
            <td class='data'>{{!node.cluster}}</td>
        </tr>
        <tr>
            <td colspan='2'>Own connectivity
                <table style='padding-left: 10px'>
                    <tr ng-repeat="c in node.connectivity.own ">
                        <td>{{!c.name}}</td>
                        <td class='data'>{{!c.conn}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan='2'>Remote connection
                <table style='padding-left: 10px'>
                    <tr ng-repeat="c in node.connectivity.remote ">
                        <td>{{!c.name}}</td>
                        <td class='data'>{{!c.conn}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>